h1
{
	color: blue;
	font-size: x-large;
    font-family: Comic Sans; 
	font-style: italic;
    font-weight: bold;
	text-decoration: blink;
	text-align: center;
}
h2
{
	color: purple;
	font-size: medium; 
	font-family: Comic Sans; 
	font-style: normal; 
	font-weight: normal; 
	text-decoration: none; 
	text-align: left;
}
p
{
	color: teal; 
	font-size: medium; 
	font-family: Comic Sans; 
	font-style: normal; 
	font-weight: bold; 
	text-decoration: underline;
	text-align: left;
}
body
{
	background-color: aqua; 
}

